.flight-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 10vw;
  min-height: 600px;
}

.flight-image {
    
}

.flight-image img {
    width: 50vw;
    height: 300px;
}
.country-destination-container {
  color: #350d36;
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
}

.country-destination-container div {
  width: 15vw;
  white-space: nowrap;

}

@media only screen and (max-width: 800px) {
  .flight-image img{
      width: 70vw;
  }
  
}